<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Abhinav Reddy</title>
  </head>
  <body>
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
      <div class="boxs1">
        <h3 class="had1">Gators Accommodation Finder</h3>
      </div>
    </div>
    </div>
  </div>
</header>
<section class="sectionone padding-class">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7">
        <h2 class="had1">Brandywine Apartment</h2>
        <div class="box-1">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, c</p>
        </div>
        <div class="min-box">
        <h2 class="had1">Amenities</h2>          
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="box-2">
              <ul>
                <li><a href="#">Parking</a></li>
                <li><a href="#">Pool</a></li>
                <li><a href="#">Fitness Center</a></li>
                <li><a href="#">Recycling</a></li>
              </ul>
            </div>
          </div>
            <div class="col-lg-4">
           <div class="box-2">
              <ul>
                <li><a href="#">High Speed Internet</a></li>
                <li><a href="#">Walk In Closet</a></li>
                <li><a href="#">Soundproof Walls</a></li>
                <li><a href="#">Dryer In Unit</a></li>
              </ul>
            </div>
          </div>
            <div class="col-lg-4 ">
            <div class="box-2">
              <ul>
                <li><a href="#">Parking</a></li>
                <li><a href="#">Pool</a></li>
                <li><a href="#">Fitness Center</a></li>
                <li><a href="#">Recycling</a></li>
              </ul>
            </div>
            </div>
          </div>
        </div>
    <div class="col-lg-5">
        <h2 class="had1 text-center">Apartment Images</h2>
        <img src="assets/images/sectiononeimg1.png" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<section class="sectiontwo padding-class">
  <div class="container">
    <div class="boxs">
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-2">
            <img src="assets/images/sectiontwoimg2.png">
          </div>
          <div class="col-lg-10">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, c</p>
            <h5>James</h5>
             <a class="button" href="#">chat with the resident</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
         <div class="row">
          <div class="col-lg-2">
            <img src="assets/images/sectiontwoimg3.png">
          </div>
          <div class="col-lg-10">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, c</p>
            <h5>James</h5>
             <a class="button" href="#">chat with the resident</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="boxs1">
        <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-2">
            <img src="assets/images/sectiontwoimg4.png">
          </div>
          <div class="col-lg-10">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, c</p>
            <h5>James</h5> 
            <a class="button" href="#">chat with the resident</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
         <div class="row">
          <div class="col-lg-2">
            <img src="assets/images/sectiontwoimg5.png">
          </div>
          <div class="col-lg-10">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, c</p>
            <h5>James</h5>
            <a class="button" href="#">chat with the resident</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="copyright text-center">
          <pre>© Copyright 2023. Gators Accommodation Finder. All Rights Reserved.
               Contact: xyz@rooms.com || Phone number: +1(123)-573-4784
          </pre>
        </div>
      </div>
    </div>
  </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>